<div id="<%= dom_id post %>" data-controller="hello">
  <p>
    <strong>Titulo:</strong>
    <%= post.titulo %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>

</div>
