<div class="container">
  <div class="new-back-posts-align">
    <div class="index-new-post">
      <%= link_to "<", posts_path, style: "text-decoration: none; font-size: 16px"%>    
    </div>
  </div>
  <div class="show-post">
    <%= render @post %>
  </div>

  <div class="show-options">
    <div class="show-option">
      <%= link_to "Edit this post", edit_post_path(@post), style: "text-decoration: none; font-weight: 500" %>
    </div>
    <div class="show-option">
      <%= button_to "Destroy this post", @post, method: :delete, style: "text-decoration: none; font-weight: 500; background: none; border:none; cursor: pointer" %>
    </div>
  </div>
</div>
